.navlink {
    margin-right: 2rem;
    color: rgb(255, 255, 255);
    font-size: 16pt;
    text-decoration-line: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    padding: 3px;
}
nav{
    margin-bottom: 1rem;
    background-color: black;
    display: flex;
    justify-content: center;
    border-bottom: 4px solid rgb(235, 7, 7);
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
    padding: .5rem;
    filter: drop-shadow(1px 1px 1px rgb(59, 59, 59));

}
.navlink.active {
    color: rgb(235, 7, 7);
    font-weight: bolder;
}
.navlink.hover {
    color: white;
    font-weight: bolder;
}
#app{
    margin-top: 4rem;
    display: flex;
}
body{
    margin-top: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Bebas Neue';
    background-image: url("mainWorkoutBackground.jpg");
}
.login{
    background-color: rgb(78, 77, 77);
    padding: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 5rem;
    color:white;
    letter-spacing: .2rem;
    display: flex;
    flex-direction: column;
}
button{
    margin: .9rem;
    background-color: red;
    box-shadow: 2px 4px 13px 1px rgba(0,0,0,0.43);
    letter-spacing: .15rem;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
}
.login-form{
    
    gap: 50px;
    letter-spacing: .2rem;
    font-size: 15pt;
    color: black;
    background-color: white;
    padding: 2rem;
    padding-left: 10rem;
    padding-right: 10rem;


}
.text-forground{
    background-color: white;
    padding: 2rem;
    letter-spacing: .1rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 5rem;
}